{% extends 'main/base.html' %}
{% block content %}
<!--Page header-->
						<div class="page-header">
							<div class="page-leftheader">
								<h4 class="page-title">List of Employees</h4>
							</div>
							<div class = "EmployeeFilter">
							    <ul class="Employee-naw">
								    <li><a href="#" data-filter=".name">
							</div>
							<span class="pg-header">
								<a href="{% url 'sorting' %}" class="btn btn-outline-danger">A-Z</a>
								<a href="{% url 'sorting_1' %}" class="btn btn-outline-danger">Z-A</a>
							</span>


							<span class="pg-header">
								<a href="{% url 'add_employee' %}" class="btn btn-primary-gradient ml-4 mt-2 "><i class="fa fa-user-plus"></i>Add Employee</a>
							</span>
						</div>
						<!--End Page header-->

						<div class="row">
							<div class="col-md-12 col-lg-12">
								<div class="card">
									<div class="card-header">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            Position <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="dropdown-plus-title">
                                                Choose
                                                <b class="fa fa-angle-up" aria-hidden="true"></b>
                                            </li>
                                            {% for employee in categories %}
                                                {% if employee.is_active %}
                                                    <li><a href="{% url 'filter' employee.id %}"><span>{{ employee.name }}</span></a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                        <div class="btn-group mt-2 mb-2">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                Education <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li class="dropdown-plus-title">
                                                    Choose
                                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                                </li>
                                                {% for employees in education %}
                                                        <li><a href="{% url 'edufilter' employees.id %}"><span>{{ employees.name }}</span></a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
{#                                        <li class="slide">#}
{#                                            <a class="side-menu__item"  data-toggle="slide" href="#"><i class="side-menu__icon fa fa-angellist"></i><span class="side-menu__label">Positions</span><i class="angle fa fa-angle-right"></i></a>#}
{#							                <ul class="slide-menu">#}
{#                                                {% for employee in categories %}#}
{#                                                    {% if employee.is_active %}#}
{#                                                        <li><a class="slide-item" href="{% url 'filter' employee.id %}"><span>{{ employee.name }}</span></a></li>#}
{#                                                    {% endif %}#}
{#                                                {% endfor %}#}
{#                                            </ul>#}
{#						                </li>#}
{#                                        <li class="slide">#}
{#                                            <a class="side-menu__item"  data-toggle="slide" href="#"><i class="side-menu__icon fa fa-graduation-cap"></i><span class="side-menu__label">Educations</span><i class="angle fa fa-angle-right"></i></a>#}
{#                                            <ul class="slide-menu">#}
{#                                                {% for employees in education %}#}
{#                                                    <li><a class="slide-item" href="{% url 'edufilter' employees.id %}"><span>{{ employees.name }}</span></a></li>#}
{#                                                {% endfor %}#}
{#                                            </ul>#}
{#                                        </li>#}
										<div class="card-options ">
											<a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
										</div>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table id="example" class="table table-striped table-bordered w-100">
												<thead>
													<tr>
														<th class="wd-15p">First name</th>
														<th class="wd-15p">Last name</th>
														<th class="wd-20p">Position</th>
														<th class="wd-15p">Start date</th>
														<th class="wd-10p">Salary</th>
														<th class="wd-25p">E-mail</th>
													</tr>
												</thead>
												<tbody>
												    {% for employee in posts %}
                                                        <tr>
                                                            <td>{{ employee.first_name }}</td>
                                                            <td>{{ employee.last_name }}</td>
                                                            <td>{{ employee.position.name }}</td>
                                                            <td>{{ employee.start_date }}</td>
                                                            <td>{{ employee.salary }}</td>
                                                            <td>{{ employee.email }}</td>
                                                            <td><a class="btn btn-primary" href="{% url 'show_detail' employee.id %}"><i class="fa fa-binoculars"></i></a></td>
                                                            <td><a class="btn btn-warning" href="{% url 'update_page' employee.id %}"><i class="ion ion-edit"></i></a></td>
                                                            <td><a class="btn btn-danger" data-toggle="modal" data-target="#sndModal{{ employee.id }}"><i class="ion ion-trash-b"></i></a></td>
                                                            <form action="{% url 'why_delete' employee.id %}" method="post">
                                                                {% csrf_token %}
                                                                    <div id="sndModal{{ employee.id }}" class="modal fade" tabindex="-1">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title">Delete Employee</h5>
                                                                                    <button class="close" data-dismiss="modal">x</button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <label class="form-label_1", style="font-weight: bold">Причина уволнения</label>
                                                                                    <select name="why">
                                                                                        {% for item in why %}
                                                                                            <option value="{{ item.id }}">
                                                                                                {{ item.name }}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
						                                            </div>
                                                            </form>
                                                        </tr>
													{% endfor %}
											</table>
										</div>
									</div>
									<!-- table-wrapper -->
								</div>
								<!-- section-wrapper -->

							</div>
						</div>
                     </div>
				</div><!-- end app-content-->
			</div>
{% endblock content %}

