.card-info {
    font-weight: 900;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    position: center;
    color: gray

}

.human {
    font-size: 150px;
    margin-left: 200px;
    margin-top: 60px;
}

.position-item {
    font-size: 50px;
}

.form-label_1 {
    font-weight: bold;
}

.modal-header {
    background: red;
}